.controls {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 8px;
    text-align: left;
}

.day {
    border: 1px solid grey;
    border-radius: 8px;
    overflow: hidden;
}

.dayHeader {
    background: #5b5959;
    text-align: center;
    padding: 8px 0;
}

.dayHeader .name  .num{
    text-transform: uppercase;
    color: #f6f1f1;
}

.dayHeader .num {
    display: block;
    color: #cbc5c5;
}

.day.today {
    border: 2px solid #1c9146;
}

.showings {
    padding: 8px 6px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.showing {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 6px 8px;
}

.showing .time {
    display: block;
    font-size: 13px;
    font-weight: bold;
}

.showing .title {
    display: block;
    font-size: 11px;
    margin-top: 2px;
}

.extraShowingLabel {
        color: #2A79C3;
        margin-left: 10px;
}